@charset "utf-8";

body {
    padding: 0px;
    border: 0px;
    margin-left: 0%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    background-color: #858585;
    font-family: montserrat;
}
.navbar {
    height: 36px;
    background-color: #003E6B;
    text-shadow: 0px 0px fffff #FFFFFF;
    color: #ffffff;
    margin-top: 0px;/*    background-position: 0 0%;*/
}
.centerOfScreen {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    
}
body img {
    width: 100px;
    height: 100px;
    top: 93px;
}
#bcitLOGO {
    transform: translate(50px);
}
.pageRightAlign {
    right: 0%;
    position: absolute;
}


@media (max-width: 375px){
}
.locationPeerReviewTitle {
    top: 176px;
    position: absolute;
    font-size: xx-large;
/*    text-align: center;*/
    left: 50%;
    transform: translate(-120px);
    width: 250px;
    color: rgba(255,255,255,1.00);
}

#signInContainer {
    width: 82px;
    text-align: center;
    color: rgba(255,255,255,1.00);
    top: 17px;
    right: 3%;
}
#signInText{
    color: rgba(255,255,255,1.00);
    text-decoration: none;
}
