@charset "utf-8";

body {
    /*padding: 0px;*/
    /*border: 0px;*/
    /*margin-left: 0%;*/
    /*margin-top: 0%;*/
    /*margin-right: 0%;*/
    /*margin-bottom: 0%;*/
    background-color: #858585;
    font-family: Arial, Helvetica, sans-serif;
}

.centerOfScreen {
    position: fixed;
    display: block;
    margin-left: 50%;
    /*margin-right: 50%;*/
    /*margin-left: -50%;*/
    transform: translateX(-50%);
}

body img {
    width: 100px;
    height: 100px;
    top: 93px;
}
/*#bcitLOGO {*/
/*    transform: translate(50px);*/
/*}*/
.pageRightAlign {
    right: 0%;
    position: absolute;
}


@media (max-width: 375px){ /* force minimum window size */
}
.locationPeerReviewTitle {
    /*top: 176px;*/
    /*position: relative;*/
    font-size: xx-large;
    left: 50%;
    /*transform: translate(-50%);*/
    /*!*width: 250px;*!*/
    color: rgba(255,255,255,1.00);
}

#signInContainer {
    width: 82px;
    text-align: center;
    color: rgba(255,255,255,1.00);
    top: 17px;
    right: 3%;
}
#signInText{
    color: rgba(255,255,255,1.00);
    text-decoration: none;
}

/* HAMBURGER MENU */

/* END HAMBURGER */
