@charset "utf-8";

/*BCIT BLUE #003e6b */

/*EXTERNAL STYLESHEET MUST BE BELOW BOOTSTRAP*/

body {
    background-color: #858585 !important;
    font-family: Arial, Helvetica, sans-serif;
}

.centerOfScreen {
    position: absolute;
    display: block;
    margin-left: 50%;
    /*margin-right: 50%;*/
    /*margin-left: -50%;*/
    transform: translateX(-50%);
}

.imageCentre {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#bcitLOGO {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
}


.pageRightAlign {
    right: 0%;
    position: absolute;
}


@media (max-width: 375px) {
    /* force minimum window size */
}

.locationPeerReviewTitle {
    font-size: xx-large;
    color: rgba(255, 255, 255, 1.00);
    text-align: center;
}

#signInContainer {
    width: 55px;
    text-align: center;
    color: rgba(255, 255, 255, 1.00);
    top: 0%;
    right: 7%;
}

#signInText {
    font-size: small;
    color: rgba(255, 255, 255, 1.00);
    /*text-decoration: none;*/
}

.mainbutton {
    background-color: #003e6b;
    padding: 15%;
    /*width: 25%;*/
    /* margin-right:auto;
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto; */
    border: 3px solid #858585;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.mainbutton:hover {
    border: 3px solid #ebb805;
}


/* View Reviews Styling */
.rvwContainer {
    width: 70%;
    height: 40%;
    margin: auto;
    border: 3px solid #858585;
    padding: 10px;
    /*display: inline-table;*/
}

.value {
    background-color: rgb(207, 206, 206);
    float: right;
    text-align: center;
    width: 45%;
    right: 1%;
    /*position: relative;*/
    /*height: 100;*/
    border: 2px solid #858585;
    padding: 1%;
}

.job {
    background-color: #858585;
    float: right;
    text-align: center;
    width: 45%;
    /*height: 8%;*/
    border: 2px solid rgb(241, 241, 241);
    padding: 1%;
}

#comment {
    background-color: rgb(241, 241, 241);
    float: left;
    width: 45%;
    height: 90%;
    padding: 1%;
    border: 2px solid #858585;
    overflow-y: scroll;
}

h1,
h2,
p {
    text-align: center;
}

@media (max-width: 700px) {
    .rvwcontainer {
        width: 350px;
        height: 50%;
        /*margin: 5px;*/
        border: 3px solid #858585;
        padding: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
        /*left: 50%;*/
    }

    .value {
        background-color: rgb(207, 206, 206);
        float: initial;

        text-align: center;
        /*display: ;*/
        width: 307.8px;
        /*height: 100;*/
        border: 2px solid #858585;
        /*padding: 1%;*/
    }

    #comment {
        width: 95%;
        height: 45%
    }
}

/* HAMBURGER MENU */

/* END HAMBURGER */
