@charset "utf-8";

/*BCIT BLUE #003e6b */

/*EXTERNAL STYLESHEET MUST BE BELOW BOOTSTRAP*/

body {
    background-color: #858585 !important;
    font-family: Arial, Helvetica, sans-serif;
}

.centerOfScreen {
    position: fixed;
    display: block;
    margin-left: 50%;
    /*margin-right: 50%;*/
    /*margin-left: -50%;*/
    transform: translateX(-50%);
}

.imageCentre {
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
}

#bcitLOGO {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 50%;
    transform:translateX(-50%);
}


.pageRightAlign {
    right: 0%;
    position: absolute;
}


@media (max-width: 375px) {
    /* force minimum window size */
}

.locationPeerReviewTitle {
    font-size: xx-large;
    color: rgba(255, 255, 255, 1.00);
    text-align: center;
}

#signInContainer {
    width: 55px;
    text-align: center;
    color: rgba(255, 255, 255, 1.00);
    top: 0%;
    right: 7%;
}

#signInText {
    font-size: small;
    color: rgba(255, 255, 255, 1.00);
    /*text-decoration: none;*/
}

/* HAMBURGER MENU */

/* END HAMBURGER */
